certifi==2018.8.24
chardet==3.0.4
idna==2.7
oauthlib==2.1.0
requests>=2.20.0
requests-oauthlib==1.0.0
robotframework==3.0.4
robotframework-extendedrequestslibrary==0.5.5
robotframework-requests==0.4.7
urllib3==1.24.2
